
hr {
    border-top: 1px solid rgb(251,218,181); 
    border-bottom: 0;
}
.jumbotron {
    background: #fff;
    margin-bottom: 20px;
    border: 5px solid rgb(51, 122, 183);
}

.jumbotron h1{
    margin-top: 0px;
    color: rgb(51, 122, 183);
}
.jumbotron p{
    margin-bottom: 0px;
    color: #666666;
    text-align: justify;
}

.nav li a {
    color: #ffffff;
    border-radius: 0;
}

.nav li a:hover {
    background: rgb(251,218,181);
    color: #666666;
}

.nav li.active a {
    background: rgb(51, 122, 183);
    color: #fff;
}

.latest-job-panel {
    background: #fff;
    
    /* border: 1px solid rgb(51, 122, 183); */
    margin: 0 0 10px 0;
}

.latest-job-panel span{
    padding: 5px 0 5px 0;
    display: block;
    text-align: center;
    font-size: 10pt;
    /* color: rgb(51, 122, 183); */
    color: #666;
}

.sunrise-side-panel {
    margin-bottom: 20px; 
    padding: 20px; 
    
    /* border: 1px solid rgb(51, 122, 183); 
    background: #ccc;*/
    
    border: 2px solid #ffffff;
    background: #EF9934;
}

    .sunrise-side-panel label {
        color: #ffffff;
        font-weight: normal;
    }

.sunrise-side-panel h4{
    margin-top: 0;
}

.sunrise-side-panel h4{
    color: rgb(51, 122, 183); 
    color: #ffffff;

    text-align: center;
}

#butFacebook:hover {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

/* Specific panel-sunrise Styles */
.panel-sunrise {
  border-color: rgb(51, 122, 183); /* blue */
  border-width: 2px;
}
.panel-sunrise > .panel-heading {
  color: #fff;
  background-color: rgb(51, 122, 183); /* blue */
  border-color: rgb(51, 122, 183); /* blue */
}
.panel-sunrise > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: rgb(51, 122, 183); /* blue */
}
.panel-sunrise > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-sunrise > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: rgb(51, 122, 183); /* blue */
}

/* Specific panel-sunrise-2 Styles */
.panel-sunrise-2 {
  border-color: #EF9934; /* Deep Orange */
  border-width: 2px;
}
.panel-sunrise-2 > .panel-heading {
  color: #fff;
  background-color: #EF9934; /* Deep Orange */
  border-color: #EF9934; /* Deep Orange */
}
.panel-sunrise-2 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EF9934; /* Deep Orange */
}
.panel-sunrise-2 > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-sunrise-2 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #EF9934; /* Deep Orange */
}


.panel-sunrise-2 .btn-primary {
  color: #fff;
  background-color: #EF9934; /* Deep Orange */
  border-color: #de8823; /* Deep Orange Dark Border */
}
.panel-sunrise-2 .btn-primary:hover,
.panel-sunrise-2 .btn-primary:focus,
.panel-sunrise-2 .btn-primary.focus,
.panel-sunrise-2 .btn-primary:active,
.panel-sunrise-2 .btn-primary.active {
  color: #fff;
  background-color: #d0801c;
  border-color: #de8823;
}

/* Generic panel-sunrise Styles */
.panel-sunrise label
,.panel-sunrise-2 label {
    font-weight: normal; margin-bottom: 0;
}

.panel-sunrise h4
,.panel-sunrise-2 h4 {
    margin-bottom: 0;
}

.panel-sunrise p
,.panel-sunrise-2 p {
    margin-bottom: 20px;
}

.panel-sunrise .first-element
,.panel-sunrise-2 .first-element {
    padding-top: 0; 
    margin-top: 0;
}

.panel-sunrise .last-element
,.panel-sunrise-2 .last-element {
    padding-bottom: 0; 
    margin-bottom: 0;
}


.sunrise-highlight-text {
    color:rgb(51, 122, 183);
}

.orange-section {
    background: #EF9934;
}
.white-section{
    background: #ffffff;
}

.navbar-header {
    text-align: center;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus {
    padding: 5px;
    margin: 0;
    color: #fff;
    float: none;
}


